/* Inizio common */
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-color: lightgray;
    font-family: sans-serif;
}
/* Fine common */

/* Inizio header */
header{
    background-color: #fff;
    height: 100px;
    background-size: 30%;
}

.logo{
    height: 50px;
    text-align: center;
    vertical-align: middle;

}

header h1{
    font-size: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#container{
    padding: 25px;
}
/* Fine header */

/* Inizio main */
/* Intestazione */
#section{
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

#content{
    background-color: #fff;
    height: 50px;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

button{
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 5px;
}

.add-task{
    color: #fff;
    background-color: rgb(0, 162, 255);
    border: none;
}

.add-section{
    color: lightgray;
    background-color: #fff;
    border: solid 1px lightgray;
}
/* Fine Intestazione */

/* Contenuto centrale */
#central-content{
    width: 80%;
    margin: auto;
    margin-top: 2px;
}

#element{
    background-color: #fff;
    height: 100%;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

/* Fine Contenuto centrale */