/* Inizio common */
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-color: lightgray;
    font-family: sans-serif;
}
/* Fine common */

/* Inizio header */
header{
    background-color: #fff;
    height: 100px;
    background-size: 30%;
}

.logo{
    height: 50px;
    text-align: center;
    vertical-align: middle;

}

header h1{
    font-size: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#container{
    padding: 25px;
}
/* Fine header */

/* Inizio main */
/* Intestazione */
#section{
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

#content{
    background-color: #fff;
    height: 50px;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

button{
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 5px;
}

.add-task{
    color: #fff;
    background-color: rgb(0, 162, 255);
    border: none;
}

.add-section{
    color: lightgray;
    background-color: #fff;
    border: solid 1px lightgray;
}
/* Fine Intestazione */

/* Contenuto centrale */
h2{
    margin-bottom: 10px;
    color: #333333;
}

.text{
    color: #333333;
}

#central-content{
    width: 80%;
    margin: auto;
    margin-top: 2px;
}

#element{
    background-color: #fff;
    height: 100%;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* New task */
h2:before{
    content:'\25BC';
    font-size: 15px;
    padding-right: 10px;
}

.special{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    display: inline-block;
    background: #fff;
    border: 2px solid rgb(0, 170, 51);
    color: rgb(0, 170, 51);
    text-align: center;
}

.bottom{
    background-color: rgb(0, 162, 255);
    border-radius: 10px;
    font-size: 10px;
    text-align: center;
    padding: 7px;
    color: #fff;
    font-size: 10px;
}
/* Fine New task */

/* Today */
.bottom .violet{
    background-color: rgb(89, 0, 255);
}

.bottom .green{
    background-color: rgb(2, 112, 44);
}

.bottom .orange{
    background-color: rgb(255, 145, 0);
}


/* Fine Contenuto centrale */